@{
    ViewBag.Title = "Gallery";
}
<h1>Gallery</h1>
<ul class="gallery">
    <li><img src="/Contents/Img/gallery/image1.jpg" alt="" /></li>
    <li><img src="/Contents/Img/gallery/image2.jpg" alt="" /></li>
</ul>
@Html.Partial("~/Views/Home/Partial/Partial1.cshtml")
