@{
    ViewBag.Title = "Index";
}
    <div class="gallery-cont">
        <div class="gallery cycle-slideshow" data-cycle-pause-on-hover="true" data-cycle-speed="200">
            <img src="/Contents/Img/home/image.jpg" alt="" />
            <img src="/Contents/Img/home/image2.jpg" alt="" />
        </div>
        <div class="gallary-btn"><a href="/gallery">GALLERY</a></div>
    </div>

